<footer class="page-footer font-small pt-4 sticky-footer">
  <div class="container text-left">
    <div class="row mb-2">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase font-weight-bold accent-2">About</h5>
        <hr class="accent-2 mb-3 mt-0 d-inline-block mx-auto">
        <p>
          The <b>Featured Item</b> rotation is the same for all users; however, the <b>Regular Item</b> rotation is random because it is unique to every player.
        </p>
      </div>
      <div class="col-md-6 mb-md-0 mb-3">
        <h5 class="text-uppercase font-weight-bold">Credit</h5>
        <hr class="accent-2 mb-3 mt-0 d-inline-block mx-auto">
        <p>
          Images created by <b>Fall Guys: Ultimate Knockout</b> from <a href="https://www.fallguys.com" title="Fall Guys">fallguys.com</a>
          <br />
          Icons created by <b><a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a></b> from <a href="https://www.flaticon.com/" title="Flaticon"> flaticon.com</a>
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://fallguysitemshop.com"> fallguysitemshop.com</a>
  </div>
</footer>