<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex align-items-center justify-content-between flex-wrap shop-section-header">
        <h2>FEATURED ITEMS</h2>
        <app-countdown-timer [dayInterval]=3></app-countdown-timer>
      </div>
    </div>
  </div>
  <div class="shop-section p-4 z-depth-4">
    <div class="row justify-content-sm-center justify-content-center">
      <div class="col-md-4 col-sm-8 col-8" *ngFor="let imgName of featuredItemImages">
        <app-shop-item [imgName]=imgName [shopDate]=shopDate class="m-4"></app-shop-item>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <div class="d-flex align-items-center justify-content-between flex-wrap shop-section-header">
        <h2 class="">REGULAR ITEMS (RANDOM)</h2>
        <app-countdown-timer [dayInterval]=1></app-countdown-timer>
      </div>
    </div>
  </div>
  <div class="shop-section p-4 z-depth-4">
    <div class="row justify-content-sm-center justify-content-center">
      <div class="col-md-2 col-sm-4 col-6" *ngFor="let imgName of regularItemImages">
        <app-shop-item [imgName]=imgName [shopDate]=shopDate class="m-4"></app-shop-item>
      </div>
    </div>
  </div>
</div>