<div class="h-100 d-flex flex-column">
  <div class="flex-content">
    <app-header></app-header>
    <br />
    <div class="d-flex justify-content-center">
      <img id="fg-logo" src="../assets/img/fg-logo-oneline.svg">
    </div>
    <br />
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <div class="w-100 h-100"></div>
        </div>
        <div class="col-md-8">
          <app-shop></app-shop>
        </div>
        <div class="col-md-2">
          <div class="w-100 h-100"></div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <app-footer></app-footer>
</div>