
$fg-white: rgb(255, 255, 255);
$fg-black: rgb(27, 27, 27);
$fg-blue: #00b6fe;
$fg-light-blue: rgb(40, 232, 255);
$fg-purple: #d175ff;
$fg-pink: #ee4599;
$fg-light-pink: #ed70ab;
$fg-red: #e03e53;
$fg-yellow: #FCC700;