
$fg-white: rgb(255, 255, 255);
$fg-black: rgb(32, 32, 32);
$fg-blue: #00b6fe;
$fg-light-blue: rgb(40, 232, 255);
$fg-aqua: #45dbf4;
$fg-purple: #d175ff;
$fg-pink: #ee4599;
$fg-light-pink: #ed70ab;
$fg-red: #e03e53;
$fg-yellow: #FCC700;
$fg-light-yellow: #fcff3e;